/* mentions */
.mentions {
  margin: 2em 0;
}

.mentions__control {
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.mentions--singleLine .mentions__control {
  width: 130px;
}

.mentions--multiLine .mentions__control {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
}

.mentions__highlighter {
  padding: 5px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  min-height: 50px;
}

.mentions--singleLine .mentions__highlighter {
  border-radius: 5px;
}

.mentions--multiLine .mentions__highlighter {
  border-radius: 10px;
}

.mentions__input {
  padding: 5px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  outline: none;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.mentions--singleLine .mentions__input {
  width: 300px;
}

.mentions--multiLine .mentions__input {
  width: 100%;
  min-height: 100px;
}

.mentions__suggestions__list {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  font-size: 12px;
}

.mentions__suggestions__item {
  padding: 5px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.mentions__suggestions__item--focused {
  background-color: #97d8ba;
  color: #fff;
}

.mentions__mention {
  position: relative;
  z-index: 1;
  font-style: italic;
  color: #333;
  text-shadow: 1px 1px 1px #fff, -1px 1px 1px #fff, 1px -1px 1px #fff,
    -1px -1px 1px #fff;
  pointer-events: none;
  text-decoration: none;
}
